@import url('https://fonts.googleapis.com/css2?family=Jua&family=Lora:wght@500;600&family=Poppins:wght@400;500&display=swap');
:root {
    --header-height: 3.5rem;
  
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: rgb(130, 174, 255);
    --first-color-alt: rgb(92, 122, 255);
    --second-color: #b7b6f3;
    --title-color: rgb(0, 0, 0);
    --text-color: hsl(205, 16%, 35%);
    --text-color-light: hsl(203, 8%, 55%);
    --body-color: hsl(206, 100%, 97%);
    --nav-color: hsl(206, 100%, 97%);
    --container-color: hsl(150, 100%, 97%);
    --display: none;
    --display-block: block;
    
    --gradient-from: rgba(0, 0, 0, 0.822);
    --gradient-stops: var(--gradient-from),var(--gradient-to, rgba(0, 0, 0, 0));

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Poppins", sans-serif;
    --title-font: "Lora", serif;
    --subtitle-font: "Jua", sans-serif;
    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --width-field: 60%;
  
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
  
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
  }
  @media screen and (min-width: 634px) {
    :root {
      --biggest-font-size: 4rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
    }
  }


  /* @media only screen and (min-width: 896px){
    :root{
        --display: inline-flex;
        --width-field: 100%;
    }
    .container--field{
        flex-direction: column;
    }
    .row{
        flex-direction:column;
    }
    .course-col{
        padding: 2rem 10px;
        margin-bottom: 1rem;
    }
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links {
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        right: -200px;
        top: 0;
        z-index: 2;
        text-align: left;
        transition: 0.4s;
    }
    nav .fa-regular{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
  } */

  

  @media screen and (min-width: 834px){
    :root{
        --display: inline-flex;
    }
    .container__buttons{
        flex-direction: column;
    }
    /**.nav__container{
        display: flex;
    }
    .nav__anchors{
        display: flex;
    }
    .nav__anchors{
        font-size: var(--smaller-font-size);
        margin-left: 3%;
    }
    .nav__logo{
        font-size: var(--small-font-size);
    }**/
  }
  @media(max-width:1200px){
    .div__to_fill form label{
        display: var(--display-block);
    }
  }
  @media(max-width:834px){
    
    .container--field{
        flex-direction: column;
    }
    .row{
        flex-direction:column;
    }
    .course-col{
        padding: 2rem 10px;
        margin-bottom: 1rem;
    }
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links {
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        right: -200px;
        top: 0;
        z-index: 2;
        text-align: left;
        transition: 0.4s;
    }
    nav .fa-regular{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }

    :root{
        --width-field: 100%;
    }
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
::placeholder {
    color: #b7b6f3;
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #b7b6f3;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: #b7b6f3;
}
html {
    scroll-behavior: smooth;
}
body {
    min-width: 400px;
    margin-top: var(--header-height);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    transition: background 0.4s; /* for dark mode animation */
  }
  
  h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font-medium);
    line-height: 1.2;
  }

  p{
    line-height: 1.2;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
.container {
    /* max-width: 1024px; */
    margin-inline: 1.5rem;
  }
.header{
    position: fixed;
    width: 100%;
    background-color: var(--nav-color);
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    transition: box-shadow .3s, background .4s;
}
.nav{
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.nav__logo{
    align-items: center;
    column-gap: .5rem;
    font-family: var(--title-font);
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    transition: color .3s;
}

.nav__menu{
    position: fixed;
    top: -100%;
    left: 0;
    background-color: var(--body-color);
    width: 100%;
    box-shadow: 0 8px 20px hsla(19, 64%, 24%, .1);
    padding-block: 3.5rem;
    transition: top .4s;
    z-index: var(--z-fixed);
  }
.nav__anchors,
.nav__logo, 
.nav__toggle,
.nav__close{
  display: flex;
  color: var(--title-color);
}

.nav__anchors{
    display: var(--display);
    font-family: var(--title-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
    transition: 0.2s;
    margin-left: 10%;
    float: none;
    white-space: nowrap;
}

.nav__anchors a{
    width: 100%;
    margin-left: 10%;
}

.nav__container{
    display: var(--display);
    width: 50%;
}

.nav__anchors:hover{
    color: var(--first-color);
    font-size: var(--h3-font-size);
}

.nav__logo img{
    width: 29px;
}
.nav__logo:hover{
    color: var(--first-color);
}

.nav__list{
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 2rem;
}

.nav__item{
    text-align: center;
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}
  
.nav__link{
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: color .4s;
}
.nav__link:hover{
   color: var(--first-color);
}

.nav__toggle{
   font-size: 1.25rem;
   height: 100%;
   width: 100%;
   cursor: pointer;
   transition: 1s;
}
.nav__toggle:hover{
    transform: rotate(-135deg);
    transition: 1s;
}
.nav__close{
    position:absolute;
    top:1rem;
    right: 1.5rem;
    cursor: pointer;
    font-size: 1.5rem;
    transition: 1s;
}
.nav__close:hover{
    transform: rotate(-135deg);
    transition: 1s;
}
  .show-menu{
    top:0;
  }

  .bg-header{
    box-shadow: 0 7px 15px rgba(19, 13, 58, 0.1);
    transition: 0.5s;
  }
  .header__img{
    min-height:75vh;
    width: 100%;
    background-image: linear-gradient(rgba(42, 42, 43, 0.534),rgba(42, 42, 43, 0.534)),url(../img/first.png);
    background-position: center;
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-attachment: fixed; 
  }
/* =============== button rules ================= */
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 0.3rem;
    padding: 12px 34px;
    background: transparent;
    position: relative;
    cursor: pointer;
    font-size: var(--small-font-size);
    font-weight: 400;
    font-family: var(--title-color);
    transition: 0.4s;
}
.hero-btn:hover{
    border: 3px solid #b7b6f3;
    background: #b7b6f3;
    transition: 0.9s;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}






/* =================== vecchia pagina =================== */
  /* font-family: tipo,famiglia; */
  /* ctrl+shif+7 commenta in tutti i linguaggi  
  footer{
    color: green;
    font-family: Arial,serif;
    font-size: 28px;
    clear: both;
    /* rispetto agli elementi precedenti il footer assume un posizionamento relativo e non eredita quelli precedenti 
    text-align: center;
  }
  p.ciao{
    aggiornamento col display:table: height, margin e width sono obsoleti in quanto contenuti dal div! width: 25%; perchè si allinea a sinistra? /*il motivo è che sei primo un deficiente e secondo il 25% è relativo al section, perciò il 33% del body, dunque con quell'ampiezza non riuscirò a far racchiudere l'intera scritta nel paragrafo
    margin: 0; 
    /* height: 25%; 
    vertical-align: middle;
    display: table-cell;
  }
  div.ciao{
    height: 25%;
    width: 100%;
    display: table;
  }*/









  /* ================= img ================ */
  .text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-weight: var(--font-semi-bold);
    font-family: var(--title-font);
    font-size: var(--biggest-font-size);
}
.text-box p{
    margin: 10px 0 40px;
    color: #fff;
    font-weight: var(--font-semi-bold);
    font-family: var(--title-font);
    font-size: var(--small-font-size);
}




/* ================ functions =============== */
/* altra problematica da risolvere è la realizzazione di sezioni che siano equadistanti dai bordi delle pagine, come fare col margin ?*/
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    height: 60%;
}
h3{
    font-size: 26px; /* attenzione non più di 23 pixel poichè non sarebbe compatibile con un layout responsive -- far vedere al professore*/
}
h1{
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
}
p{
    color: #777;
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    line-height: 22px;
    padding: 10px;
}
.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background: #d0cfff;
    border-radius: 17px;
    /* padding: 20px 12px; */
    padding: 20px 20px;
    box-sizing: border-box;
    transition: 0.3s;
    height: max-content;
}

.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

/* ========= font awesome ======== */
.nav__link:hover .bx-home-alt-2{
    /* transform: rotate(-15deg); */
    animation: shake 1s ;
    animation-iteration-count: infinite;
}
.nav__link:hover .bx-info-circle{
    /* transform: rotate(-15deg); */
    animation: shake 1s ;
    animation-iteration-count: infinite;
}
.nav__link:hover .bx-group{
    /* transform: rotate(-15deg); */
    animation: shake 1s ;
    animation-iteration-count: infinite;
}

@keyframes shake {
    /*0% { transform: translate(0.5px, 0.5px) rotate(0deg); }
    10% { transform: translate(-0.5px, -1.5px) rotate(-0.5deg); }
    30% { transform: translate(1.5px, 0.5px) rotate(0deg); }
    40% { transform: translate(1px, -0.5px) rotate(0.5deg); }
    60% { transform: translate(-0.9px, 0.8px) rotate(0deg); }
    70% { transform: translate(1.4px, 0.6px) rotate(-0.5deg); }
    90% { transform: translate(0.8px, 1px) rotate(0deg); }
    100% { transform: translate(1.2px, -1px) rotate(-0.5deg); }*/
    12.5% { transform: translate(0px, 0.5px); }
    25% { transform: translate(0px, 1px); }
    37.5% { transform: translate(0px, 1.5px); }
    50% { transform: translate(0px, 2px); }
    62.5% { transform: translate(0px, 1.5px); }
    75% { transform: translate(0px, 1px); }
    87.5% { transform: translate(0px, 0.5px); }
    100% { transform: translate(0px, 0px); }
  }

.fa-user-group:hover{
    text-shadow: 2px 2px #fff;
}
/* =========== GIF ========== */

.cta{
    margin:100px auto 0 auto;
    width: 80%;
    background-image: linear-gradient(rgba(42, 42, 43, 0.534),rgba(42, 42, 43, 0.534)),url(./../img/gif.gif);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding: 150px 0;
    background-attachment: fixed;
    text-align: center;
    background-repeat: no-repeat;
    transition: .5s;
}
.cta:hover{
    transform: scale(1.01);
    transition: all .5s ease-in-out;
}

.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}
@media(max-width:700px){
    .cta h1{
        font-size: 24px;
    }
}
@media only screen and (min-width: 896px){
    .cta h1{
        font-size: 24px;
    }
}
.field{
    flex-basis: 45%;
    margin-bottom: 1.5rem;
    padding: 50px 12px;
}
.div__things{
    background-color: #b7b6f3;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
}
.div__things p{
    margin: 0 auto;
}
.field:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
.div__to_fill{
    border: 0.6rem solid #b7b6f3;
    background-color: transparent;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
}


.container--field{
    margin: 0 20px;
    width: 85%;
    display: flex;
    /* flex-basis: 40%; */
    margin: 100px auto 0 auto;
    justify-content: space-between;
}

.hero-btn_input{
    display: block;
    text-decoration: none;
    color:#b7b6f3;
    border: 4px solid #fff;
    border-radius: 0.3rem;
    padding: 12px 34px;
    background: transparent;
    position: relative;
    cursor: pointer;
    font-size: var(--h2-font-size);
    font-weight: 400;
    font-family: var(--title-color);
    transition: 0.4s;
    margin: 10px auto;
}
.hero-btn_input:hover{
    border-color: #b7b6f3;
    color:#fff;
    background: #b7b6f3;
    box-shadow: 0 0 12px 0px rgba(0,0,0,0.2);
    transition: 0.9s;
}

a.hero-btn_input{
    border: 3px solid #fff;
    padding: 5px 21px;
    font-size: var(--small-font-size);
    font-weight: 300;
    height: max-content;
    margin: auto;
}

.container__buttons{
    display: flex;
}

.text{
    border: 3px solid #b7b6f3;
    border-radius: 4px;
    outline: none;
    padding: 12px 10px;
    color: #777;
}

.form{
    margin-bottom: 20px;
}

.div__to_fill form label {
    font-size: var(--font-semi-bold);
    font-family: var(--body-font);
    font-size: var(--h1-font-size);
    color: var(--second-color);
}

footer{
    margin-top: 100px;
}

.footer{
    width: 100%;
    height:max-content;
    background: #777;
    background-size: cover;
    font-size: var(--h3-font-size);
    color: var(--body-font);
    font-weight: var(--font-medium);
    box-shadow: 0 0 15px 20px rgba(19, 13, 58, 0.1);
    border-top: 4px solid #9d9cca;
    display: flex;
    justify-content: space-between;
}

.footer__field{
    width: 30%;
    height: 100%;
    flex-basis: 40%;
    margin: 10px auto;
    text-align: justify;
}
.information{
    font-weight:var(--font-medium);
    font-family: var(--body-font);
    display: block;
    color: #b7b6f3;
}

.footer__field h3{
    color: var(--first-color);
    font-size: var(--small-font-size);
}

.footer__field p{
    color: var(--second-color);
    font-size: var(--smaller-font-size);
}

@media(max-width:834px){
    .footer{
        flex-direction: column;
    }
    .footer__field{
        width: 90%;
    }
}
/* @media only screen and (min-width: 896px){
    .footer{
        flex-direction: column;
    }
    .footer__field{
        width: 90%;
    }
} */
/*.information h3{                      non vengono interpretati
    font-size: var(--h3-font-size);
    color: var(--first-color);
}
.information p{
    font-size: var(--small-font-size);
    color: var(--second-color);
}*/

.carousell__margin{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.carousell__cta{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

article.cta__images_try{
    flex-basis: 30%;
    margin: 100px 0 auto;
}

.cta__images_try{
    margin:100px auto 0 auto;
    width: 40%;
    /* height: 100%;
    min-height: 21rem; */
    border-radius: 10px;
    display: grid;
    border: 7px solid rgba(157, 156, 202, 0.658);
}
.cta__images_try a{
    outline: none;
    color: inherit;
}
.cta__images_try h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

.cta__container{
    overflow: hidden;
    position: relative;
    /* height: 100%;
    width: 100%; */
}

.cta__subcontainer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

.cta__img{
    /* position: relative;
    left: 1rem;
    top: -1rem; */
    transform: scale(0.9);
    transition: all .5s ease-in-out;
    object-fit: cover;
    object-position: center;
}

.cta__images_try:hover .cta__img{
    transform: scale(1);
    transition: all .5s ease-in-out;
}

.cta__blur{
    height: 50%;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to top,var(--gradient-stops));
    border-radius: 4px;
}

.cta__text_container{
    padding: 1.5rem;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.cta__text a{
    color: #fff;
    margin: auto;
}

.cta__text{
    margin: 0 auto 1.5rem auto;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

@media(max-width:700px){
    .cta_images_try h1{
        font-size: 24px;
    }
}
@media only screen and (max-width: 834px){
    .cta_images_try h1{
        font-size: 24px;
    }
    .cta__images_try{
        width: 70%;
    }
    .carousell__cta{
        flex-direction: column;
    }
    article.cta__images_try{
        margin: 100px auto 0;
    }
}

.heading{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin-bottom: 2rem;
}
/* .heading .bx {
    font-size: 21px;
    color: var(--text-color);
    background: var(--main-color);
    padding: 10px;
    border-radius: 5rem;
} */
.heading h2{
    font-size: 1.2rem;
    font-weight: 500;
}

.trending{
    margin:100px 0.7rem auto;
    
}

.box{
    width: 100%;
    /* height: 100%;
    min-height: 21rem; */
    border-radius: 10px;
    display: grid;
    border: 7px solid rgba(157, 156, 202, 0.658);
}

.box:hover .cta__img{
    transform: scale(1);
    transition: all .5s ease-in-out;
}

/* .box .box-text{
    position: absolute;
    right: 0; 
    left: 0;
    bottom: 0;
} */

@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 2){

    :root {
        --biggest-font-size: 4rem;
        --h1-font-size: 1.85rem;
        --h2-font-size: 2.1rem;
        --h3-font-size: 1.85rem;
        --normal-font-size: 1.6rem;
        --small-font-size: 1.475rem;
        --smaller-font-size: 1.413rem;
    }

    p, h1, h2, h3{
        line-height: 1.4;
    }

    .header{
        padding: 25px;
    }

    .nav__toggle{
        font-size: 2.25rem;
    }

    .nav__close{
        font-size: 3rem;;
    }

    .nav__menu{
        padding-block: 10.5rem;
    }

    .nav__list{
        row-gap: 6rem;
    }

    .header__img{
        min-height: 36vh;
        background-position: top;
        /*non posso scegliere dove posizionare lo sfondo con background-position-x ed y;*/
    }

    .text-box{
        top:21%;
    }

    .text-box h1{
        font-size: var(--biggest-font-size);
        font-weight: var(--font-semi-bold);
    }

    .container--field{
        flex-direction: column;
    }
    
    .row{
        flex-direction:column;
    }
    
    .course-col{
        padding: 4rem 2rem;
        margin-bottom: 1rem;
        letter-spacing: .1rem;
    }

    h3{
        font-size: var(--h1-font-size);
        font-weight: var(--font-semi-bold);
    }

    .course-col p{
        line-height: 1.4;
    }

    .nav-links ul li{
        display: block;
    }
    .nav-links {
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        right: -200px;
        top: 0;
        z-index: 2;
        text-align: left;
        transition: 0.4s;
    }
    nav .fa-regular{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
    .cta_images_try h1{
        font-size: 24px;
    }
    .cta__images_try{
        width: 70%;
    }
    .carousell__cta{
        flex-direction: column;
    }
    article.cta__images_try{
        margin: 100px auto 0;
    }

    :root{
        --width-field: 100%;
    }

    .footer{
        flex-direction: column;
    }
    .footer__field{
        width: 90%;
    }
}

@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 2){
    :root{
        --display: none;
    }
    .container__buttons{
        flex-direction: column;
    }
}